#root{
  background-color: #143140;
  color: aliceblue;
}
#conteneur-body{
  background-color: #143140;
}

.App {
  text-align: center;
}


#header h1{
  font-family: 'Lobster', cursive;
  color: #fa3d2a;
}

.conteneur-Card {
  border:  #37ac94 2px solid;
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.conteneur-Card img{
  height: 285px;
}

.cards-body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
}
.btn-primary{
  width: 10%;
}

.cards-title{
  font-family: 'Lobster', cursive;
  color: #fcecc7;
  font-size: 50px;
}

/* LOAD */

.loader{
position: absolute;
}

.hidden {
  display: none;
}

/* FOOTER */

#footer{
  background-color: #143140;
  color: rgb(191, 192, 192);
  padding: 1%;
}

#conteneur-legal{
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 60%;
}

#conteneur-assets{
  display: flex;
  justify-content: flex-start;
  margin-top: 1%;
}

#conteneur-assets img {
 width: 5%;
 height: 30px;
 margin: 5px;
}

#conteneur-social{
  display: flex;
  justify-content: flex-start;
  width: 70%;
  padding: 2%;
}

#conteneur-store{
  display: flex;
  justify-content: flex-end;
}
#conteneur-store img{
  width: 20%;
  height: 30px;
  margin: 5px;
}