#root{
  background-color: #143140;
  color: aliceblue;
}
#conteneur-body{
  background-color: #143140;
}

.App {
  text-align: center;
}


#header h1{
  font-family: 'Lobster', cursive;
  color: #fa3d2a;
}

.conteneur-Card {
  border:  #37ac94 2px solid;
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.conteneur-Card img{
  height: 285px;
}

.cards-body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
}
.btn-primary{
  width: 10%;
}

.cards-title{
  font-family: 'Lobster', cursive;
  color: #fcecc7;
  font-size: 50px;
}

/* LOAD */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  min-height: 100px;
  positition: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-reflect: below 1px linear-gradient(#0001, #0004);
}

.container .loader{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #424242;
  animation: animate 1s linear infinite;
}

@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.container .loader::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to top, transparent, dodgerblue);
  background-size: 100px 180px;
  background-repeat: no-repeat;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.container .loader::after{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: #00B0FF;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 10px #00B0FF,
              0 0 20px #00B0FF,
              0 0 30px #00B0FF,
              0 0 40px #00B0FF,
              0 0 50px #00B0FF,
              0 0 60px #00B0FF,
              0 0 70px #00B0FF,
              0 0 80px #00B0FF,
              0 0 90px #00B0FF,
              0 0 100px #00B0FF;
}

.container .loader span{
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  background-color: #212121;
}
/* END LOAD */


/* FOOTER */

#footer{
  background-color: #143140;
  color: rgb(191, 192, 192);
  padding: 1%;
}

#conteneur-legal{
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 60%;
}

#conteneur-assets{
  display: flex;
  justify-content: flex-start;
  margin-top: 1%;
}

#conteneur-assets img {
 width: 5%;
 height: 30px;
 margin: 5px;
}

#conteneur-social{
  display: flex;
  justify-content: flex-start;
  width: 70%;
  padding: 2%;
}

#conteneur-store{
  display: flex;
  justify-content: flex-end;
}
#conteneur-store img{
  width: 20%;
  height: 30px;
  margin: 5px;
}